body {
}

header {
    overflow: auto;
    background-color: black;
    top: auto;
    margin-top: -8px;
    margin-left: -8px;
    margin-right: -8px;
}

.header2 a {
    float: right;
    color: #f2f2f2;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: Bold;
    padding: 20px 20px;
    text-decoration: none;
    font-size: 25px;
}

header a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: Bold;
    padding: 20px 20px;
    text-decoration: none;
    font-size: 25px;
}

header a.active {
    background-color: Black;
    color: white;
}

.underline a {
    text-decoration-line: underline;
    text-decoration-style: straight;
    text-decoration-color: white;
}

.bottomheader {
    background-color: gray;
    position: fixed;
    left: 0;
    width: 100%;
    color: white;
    text-align: center;
    size: 10px;
    padding: 0px 0px;
}

.bottomvideo {
    background-color: gray;
    position: fixed;
    left: 0;
    width: 100%;
    color: white;
    text-align: center;
    size: 10px;
    margin-top: 700px;
    padding: 8px 0px;
}

.bottomheader p {
    padding: 0px 0px;
}

.bottomheader {
    background-color: gray;
    position: fixed;
    left: 0;
    width: 100%;
    color: white;
    text-align: center;
    size: 10px;
    padding: 0px 0px;
}

.headervideo video{
        width: 1080;
        height: 1920;
        pointer-events: none;
}

.underheader {
    text-align: center;
    padding-top: 50px;
    font-weight: Bold;
    font-family: Arial, Helvetica, sans-serif;

}

.channel h1{
    text-align: center;
    padding-top: 800px;
    font-weight: Bold;
    font-family: Arial, Helvetica, sans-serif;
}

footer {
    background-color: black;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: white;
    text-align: center;
}

footer a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: Bold;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 15px;
}

@media (max-aspect-ratio: 16/9) {
    .center{
        width: 1920px;
        height: 1080px;
    }
  }

  video {
    object-fit:cover;
    width: 1920px;
    height: 1080px;
    position: absolute;

    top: 0;
    left: 0;
    pointer-events: none;
  }
  

