/* Reset default styles and apply some basic styles */
body,
h1,
h2,
p {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #2d2c41;
}

header {
    background-color: #3c3d50;
    padding: 10px;
    color: #ffffff;
}

nav ul {
    list-style: none;
}

nav li {
    display: inline;
    margin-right: 1%;
}

nav a {
    color: #ffffff;
    text-decoration: none;
}

main {
    padding: 20px;
}

.video-container {
    position: relative;
    padding-bottom: 56.25%;
    /* Maintain an aspect ratio of 16:9 for the video container */
}

.video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.WebsiteParagraph {
    color: rgb(156, 156, 156);
    font-weight: bolder;
    text-align: left;
}

footer {
    background-color: #be2f24;
    padding: 5px;
    color: #ffffff;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
}

.HomeButton {
    color: white;
}

.HomeButton:hover {
    color: #08f8ec;
}